<header class="header" id="my-header">

    <nav class="navbar navbar-expand-xl py-2 menu d-flex justify-content-between">
        <div class="container">
            <a href="" class="navbar-brand py-2"><img src="../../assets/images/flower logo.svg" alt=""
                    class="logo-img-1 logo-img-2 mx-auto"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 menu-ul">
                    <li class="nav-item dropdown category" routerLink="/saree">
                        <a role="button" class="nav-link text-uppercase new dropdown-toggle "><img
                                style="width: 20px;" class="svg-icon mx-2 mb-1 my-auto"
                                src="../../assets/images/menu-logo/category-svgrepo-com(2).svg" alt="">category</a>
                        <div class="dropdown-menu text-uppercase">
                            <div class="row d-flex flex-row pb-4">
                                <div class="col-5 d-flex flex-row pt-4">
                                    <ul class="d-flex flex-column ">
                                        <h3><a>category</a></h3>
                                        <li><a class="dropdown-item" routerLink="/saree">sarees</a></li>
                                        <li><a class="dropdown-item" routerLink="/blouse">blouse</a></li>
                                        <li><a class="dropdown-item" routerLink="/kurti">kurtis</a></li>
                                        <li><a class="dropdown-item" routerLink="/dress-material">dress material</a></li>
                                        <li><a class="dropdown-item" routerLink="/bag">Bags</a></li>
                                        <li><a class="dropdown-item" routerLink="/jewellery">jewellery</a></li>
                                        <!-- <li><a class="dropdown-item" href="#">stoles</a></li> -->
                                        <!-- <li><a class="dropdown-item" href="/category">view all</a></li> -->
                                    </ul>
                                </div>
                                <div class="col-1 pt-4 extra-col "></div>
                                <div class="col-6 pt-4 d-flex justify-content-between extra-col">
                                    <img src="../../assets/images/menu-dropdown/women-dropdown/img1.webp" class=""
                                        alt="" style="height: 350px ;padding:0 5px;">
                                    <img src="../../assets/images/menu-dropdown/women-dropdown/img2.webp" class=""
                                        alt="" style="height: 350px ;padding:0 5px;">
                                    <img src="../../assets/images/menu-dropdown/women-dropdown/img3.webp" class=""
                                        alt="" style="height: 350px ;padding:0 5px;">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown jewellery">
                        <a routerLink="/jewellery" role="button" class="nav-link text-uppercase new dropdown-toggle "><img
                                style="width: 20px;" class="svg-icon mx-2 mb-1 my-auto"
                                src="../../assets/images/menu-logo/necklace-fashion-svgrepo-com.svg"
                                alt="">jewellery</a>
                        <div class="dropdown-menu text-uppercase">
                            <div class="row d-flex flex-row pb-4">
                                <div class="col-4 d-flex flex-row pt-4">
                                    <ul class="d-flex flex-column">
                                        <h3><a href="">jewellery</a></h3>
                                        <li><a class="dropdown-item" href="#">necklace</a></li>
                                        <li><a class="dropdown-item" href="#">earings</a></li>
                                        <li><a class="dropdown-item" href="#">bangles</a></li>
                                        <li><a class="dropdown-item" href="#">anklets</a></li>
                                        <li><a class="dropdown-item" href="#">rings</a></li>
                                        <li><a class="dropdown-item" href="#">view all</a></li>
                                    </ul>
                                </div>
                                <div class="col-2 pt-4 extra-col"></div>
                                <div class="col-6 pt-4 d-flex justify-content-between extra-col">
                                    <img src="../../assets/images/menu-dropdown/men dropdown/img1.webp" class="" alt=""
                                        style="height: 350px ;padding:0 5px;">
                                    <img src="../../assets/images/menu-dropdown/men dropdown/img2.webp" class="" alt=""
                                        style="height: 350px ;padding:0 5px;">
                                    <img src="../../assets/images/menu-dropdown/men dropdown/img3.webp" class="" alt=""
                                        style="height: 350px ;padding:0 5px;">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown handbags">
                        <a href="#" role="button" class="nav-link text-uppercase new dropdown-toggle"><img
                                style="width: 20px;" class="svg-icon mx-2 mb-1 my-auto"
                                src="../../assets/images/menu-logo/handbag-svgrepo-com.svg" alt="">handbags</a>
                        <div class="dropdown-menu text-uppercase">
                            <div class="row d-flex flex-row pb-4">
                                <div class="col-4 d-flex flex-row pt-4">
                                    <ul class="d-flex flex-column">
                                        <h3><a class="dropdown-item ps-0" href="#">handbags</a></h3>
                                        <li><a class="dropdown-item" href="#">bombay bordeaux</a></li>
                                        <li><a class="dropdown-item" href="#">bridal couture 2023/24</a></li>
                                        <li><a class="dropdown-item" href="#">A bride & her bridemaids</a></li>
                                        <li><a class="dropdown-item" href="#">summer '23</a></li>
                                        <li><a class="dropdown-item" href="#">view all</a></li>
                                    </ul>
                                </div>
                                <div class="col-6 pt-4 d-flex justify-content-between extra-col">
                                    <img src="../../assets/images/menu-dropdown/collections/img1.webp" class="" alt=""
                                        style="height: 410px; padding:0 5px;">
                                    <img src="../../assets/images/menu-dropdown/collections/img2.webp" class="" alt=""
                                        style="height: 410px; padding:0 5px;">
                                    <img src="../../assets/images/menu-dropdown/collections/img3.webp" class="" alt=""
                                        style="height: 410px; padding:0 5px;">
                                </div>
                                <div class="col-2 extra-col"></div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown new-arrivals">
                        <a href="#" role="button" class="nav-link text-uppercase new dropdown-toggle stars"><img
                                style="width: 20px;" class="svg-icon mx-2 mb-1 my-auto"
                                src="../../assets/images/menu-logo/arrival-calendar-svgrepo-com.svg" alt="">new
                            arrivals</a>
                        <div class="dropdown-menu text-uppercase">
                            <div class="row d-flex flex-row pb-4">
                                <div class="col-3 d-flex flex-row pt-4">
                                    <ul class="d-flex flex-column">
                                        <h3><a class="dropdown-item ps-0" href="#">new arrivals</a></h3>
                                        <li><a class="dropdown-item" href="#">lehengas</a></li>
                                        <li><a class="dropdown-item" href="#">kurta sets</a></li>
                                        <li><a class="dropdown-item" href="#">sarees</a></li>
                                        <li><a class="dropdown-item" href="#">fusion wear</a></li>
                                        <li><a class="dropdown-item" href="#">sherwani sets</a></li>
                                        <li><a class="dropdown-item" href="#">view all</a></li>
                                    </ul>
                                </div>
                                <div class="col-9 extra-col pt-4 d-flex justify-content-between">
                                    <img src="../../assets/images/menu-dropdown/stars/img1.webp" class="" alt=""
                                        style="height: 400px; padding:0 5px;">
                                    <img src="../../assets/images/menu-dropdown/stars/img2.webp" class="" alt=""
                                        style="height: 400px; padding:0 5px;">
                                    <img src="../../assets/images/menu-dropdown/stars/img3.webp" class="" alt=""
                                        style="height: 400px; padding:0 5px;">
                                    <img src="../../assets/images/menu-dropdown/stars/img4.webp" class="" alt=""
                                        style="height: 400px; padding:0 5px;">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown sale">
                        <a href="#" role="button" class="nav-link text-uppercase new dropdown-toggle"><img
                                style="width: 22px;" class="svg-icon mx-2 mb-1 my-auto"
                                src="../../assets/images/menu-logo/sale-badge-svgrepo-com.svg" alt="">sale</a>
                        <div class="dropdown-menu text-uppercase">
                            <div class="row d-flex flex-row pb-4">
                                <div class="col-4 d-flex flex-row pt-4">
                                    <ul class="d-flex flex-column">
                                        <h3><a href="">sale</a></h3>
                                        <li><a class="dropdown-item" href="#">womenswear</a></li>
                                        <li><a class="dropdown-item" href="#">menswear</a></li>
                                        <h3><a href="">bridal couture '22</a></h3>
                                        <li><a class="dropdown-item" href="#">womenswear</a></li>
                                        <li><a class="dropdown-item" href="#">menswear</a></li>
                                    </ul>
                                    <ul class="ps-5">
                                        <h3><a href="">mijwaan '22</a></h3>
                                        <li><a class="dropdown-item" href="#">womenswear</a></li>
                                        <li><a class="dropdown-item" href="#">menswear</a></li>
                                        <h3><a href="">shop the runway look</a></h3>

                                    </ul>
                                </div>
                                <div class="col-2 pt-4 extra-col"></div>
                                <div class="col-6 pt-4 d-flex justify-content-between extra-col">
                                    <img src="../../assets/images/menu-dropdown/runway/img1.webp" class="" alt=""
                                        style="height: 350px ;padding:0 5px;">
                                    <img src="../../assets/images/menu-dropdown/runway/img2.webp" class="" alt=""
                                        style="height: 350px ;padding:0 5px;">
                                    <img src="../../assets/images/menu-dropdown/runway/img3.webp" class="" alt=""
                                        style="height: 350px ;padding:0 5px;">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item search-li extra-li">
                        <a href="" class="nav-link text-uppercase">
                            <i class="fa fa-search nav-icon nav-icons mx-1 mb-1 my-auto" style="font-size: 19px;"
                                aria-hidden="true"></i>
                            Search
                        </a>
                    </li>
                    <li class="nav-item heart-li extra-li">
                        <a href="" class="nav-link text-uppercase">
                            <i class="fa fa-heart-o nav-icon nav-icons mx-1 mb-1 my-auto" style="font-size: 19px;"
                                routerLink="/wishlist" aria-hidden="true"></i>
                            Wishlist</a>
                    </li>
                    <li class="nav-item dropdown account account-li extra-li">
                        <a class="nav-link dropdown-toggle text-uppercase" style="padding: 5px;" href="#"
                            id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <i class="fa fa-user-o nav-icon nav-icons mx-1 mb-1 my-auto" style="font-size: 19px;"
                                aria-hidden="true" routerLink="/account"></i>
                            Account
                        </a>
                        <div class="dropdown-menu px-5 py-3 " aria-labelledby="navbarDropdown">
                            <div class="account-list d-flex align-item-center justify-content-center flex-column">
                                <h4 class="text-center">Account</h4>
                                <img src="../../assets/images/user.svg" class="account-img my-1" alt="">
                                <div class="text-center" style="margin: 0;">USER NAME</div>
                                <div class="text-muted mb-1 text-center p-0 m-0">username.gmail.com</div>
                                <button class="text-center btn btn-danger p-1 my-1 mx-auto">Logout</button>
                                <hr>
                                <p class="my-1  text-center"><a href="">Privacy Policy</a></p>
                                <p class="my-1 text-center"><a href="">Terms & Condition</a></p>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item cart-li extra-li">
                        <a href="" class="nav-link text-uppercase">
                            <i class="fa fa-shopping-bag nav-icon nav-icons cart-icon mx-1 mb-1 my-auto"
                                routerLink="/cart" aria-hidden="true" style="font-size: 19px;"></i>
                            Cart
                        </a>
                    </li>
                </ul>
            </div>
            <div class="search-div d-flex align-item-center justify-content-between">
                <!-- <input class="search-input py-1" type="search" placeholder="Search" aria-label="Search"> -->
                <li class="nav-item search-li">
                    <i class="fa fa-search nav-icon nav-icons"></i>
                </li>
                <li class="nav-item heart-li"><i class="fa fa-heart-o nav-icon nav-icons" routerLink="/wishlist"
                        aria-hidden="true"></i>
                </li>
                <li class="nav-item cart-li">
                    <i class="fa fa-shopping-bag nav-icon nav-icons cart-icon" 
                routerLink="/cart"
                        aria-hidden="true"></i>
                </li>
                <li class="nav-item dropdown account account-li">
                    <a class="nav-link dropdown-toggle p-0" href="#" id="navbarDropdown" role="button" style="padding: 5px;"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user-o nav-icon nav-icons" aria-hidden="true" routerLink="/account"></i>

                    </a>
                    <div class="dropdown-menu px-5 py-3 " aria-labelledby="navbarDropdown">
                        <div class="account-list d-flex align-item-center justify-content-center flex-column">
                            <h4 class="text-center">Account</h4>
                            <img src="../../assets/images/user.svg" class="account-img my-1" alt="">
                            <div class="text-center" style="margin: 0;">USER NAME</div>
                            <div class="text-muted mb-1 text-center p-0 m-0">username.gmail.com</div>
                            <button class="text-center btn btn-danger p-1 my-1 mx-auto">Logout</button>
                            <hr>
                            <p class="my-1  text-center"><a href="">Privacy Policy</a></p>
                            <p class="my-1 text-center"><a href="">Terms & Condition</a></p>
                        </div>
                    </div>
                </li>
            </div>
        </div>
    </nav>
</header>