<footer class="footer" id="footer">
    <div class="container">
        <div class="row align-items-baseline">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-4 coma">
                        <div class="call">
                            <div class="icon">
                                <div class="box">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                </div>  
                            </div>
                            <div class="con">
                                <p>Have a question?</p>
                                <h5>1800-266-0123</h5>
                            </div>
                        </div>
                        <div class="mail">
                            <div class="icon">
                                <div class="box">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                </div>
                            </div>
                           <div class="con">
                            <p>Contact us at</p>
                            <h6>ecomsupportgmail.com</h6>
                           </div>
                       </div>
                    </div>
                    <div class="col-lg-4">
                        <ul>
                            <h5 class="text-uppercase">Quick Links</h5>
                            <li>Return & exchange</li>
                            <li>shippng</li>
                            <li>Cancellation</li>
                            <li>Delivery Information</li>
                            <li>Privacy</li>
                            <li>Teams of Use</li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                    <ul>
                        <h5>ABOUT TANEIRA</h5>
                        <li>About Us</li>
                        <li>Payment Options</li>
                        <li>Corporate</li>
                        <li>Careers</li>
                        <li>Blogs</li>
                        <li>Reviews</li>
                    </ul>
                    </div>
                </div>
                
                <div class="mainicon">
                    <div class="icon">
                        <div class="box">
                            <i class="fa fa-facebook-square" aria-hidden="true"></i>
                        </div>  
                    </div>
                    <div class="icon">
                        <div class="box">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </div>  
                    </div>
                    <div class="icon">
                        <div class="box">
                            <i class="fa fa-pinterest-square" aria-hidden="true"></i>
                        </div>  
                    </div>
                    <div class="icon">
                        <div class="box">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </div>  
                    </div>
                    <div class="icon">
                        <div class="box">
                            <i class="fa fa-youtube-play" aria-hidden="true"></i>
                        </div>  
                    </div>
                    
                </div>
            </div>


            <div class="col-lg-4">
                <div class="image">
                    <img src="../../assets/images/footer1.png" alt="">
                </div>
            </div>
        </div>
    </div>
</footer>