<section class="category-display py-5">
    <div class="row">
        <h2 class="text-center pb-2"> SHOP BY CATEGORY</h2>

        <swiper-container class="mySwiper" autoplay="true" loop="false" navigation="true"
            effect="coverflow" grab-cursor="true" space-between="50"  centered-slides="true"
            slides-per-view="3" coverflow-effect-rotate="0" coverflow-effect-stretch="0" coverflow-effect-depth="400"
            coverflow-effect-slide-shadows="true" coverflow-effect-slide-shadows="true"
            coverflow-effect-slide-shadows="true">
            <swiper-slide >
                <a routerLink="/product/saree" class="text-center">
                    <img src="../../assets/images/category/jpgs/saree-1.jpg" class="card-img-top" alt="">
                    <!-- <h5>SAREES</h5> -->
                </a>
            </swiper-slide>
            <swiper-slide>
                <a routerLink="/product/bag" class="text-center">
                    <img src="../../assets/images/category/jpgs/bag-1.jpg" class="card-img-top" alt="">
                    <!-- <h5>BAGS</h5> -->
                </a>
            </swiper-slide>
            <swiper-slide>
                <a routerLink="/product/kurti" class="text-center">
                    <img src="../../assets/images/category/jpgs/kurti-1.jpg" class="card-img-top" alt="">
                    <!-- <h5>KURTIS</h5> -->
                </a>
            </swiper-slide>
            <swiper-slide>
                <a routerLink="/product/jewellery" class="text-center">
                    <img src="../../assets/images/category/jpgs/jwell-1.jpg" class="card-img-top" alt="">
                    <!-- <h5>JEWELLERY</h5> -->
                </a>
            </swiper-slide>
            <swiper-slide>
                <a routerLink="/product/blouse" class="text-center">
                    <img src="../../assets/images/category/jpgs/blouse.jpg" class="card-img-top" alt="">
                    <!-- <h5>BLOUSES</h5> -->
                </a>
            </swiper-slide>
            <swiper-slide>
                <a routerLink="/product/dress-material" class="text-center">
                    <img src="../../assets/images/category/jpgs/dress-1.jpg" class="card-img-top" alt="">
                    <!-- <h5>DRESS MATERIAL </h5> -->
                </a>
            </swiper-slide>
        </swiper-container>
    </div>
    <!-- <div class="container">    
        <div class="row py-1">
            <h4 class="text-center pb-5"> SHOP BY CATEGORY</h4>
            <div class="col-3 saree-category">
                <div class="card h-100 overflow-hidden ">
                    <a routerLink="/product/saree" class="text-center">
                        <img src="../../assets/images/category/jpgs/saree-1.jpg" class="card-img-top" alt="">
                        <h5>SAREES</h5>
                    </a>
                </div>
            </div>
            <div class="col-3 bag-category">
                <div class="card h-100 overflow-hidden ">
                    <a routerLink="/product/bag" class="text-center">
                        <img src="../../assets/images/category/jpgs/bag-1.jpg " class="card-img-top" alt="">
                        <h5>HAND BAGS</h5>
                    </a>
                </div>
            </div>
            <div class="col-3 kurti-category">
                <div class="card h-100 overflow-hidden ">
                    <a routerLink="/product/kurti" class="text-center">
                        <img src="../../assets/images/category/jpgs/kurti-1.jpg" class="card-img-top" alt="">
                        <h5>KURTIS</h5>
                    </a>
                </div>
            </div>
            <div class="col-3 jewellery-category">
                <div class="card h-100 overflow-hidden ">
                    <a routerLink="/product/jewellery" class="text-center">
                        <img src="../../assets/images/category/jpgs/jwell-3.jpg" class="card-img-top" alt="">
                        <h5>JEWELLERY</h5>
                    </a>
                </div>
            </div>
        </div>
    </div> -->
</section>