<section class="testimonials-container">
    <div class="container">
        <h2 class="my-5 text-center">What Our Clients Are Saying</h2>
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <div class="testimonial">
                    <h5>"Lovely handwoven saree"</h5>
                    <p>
                        Bought this saree for my mother, nice quality and material.
                        <span class="testimonal-author">~ Lily R.</span>
                    </p>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="testimonial">
                    <h5>"No complains"</h5>
                    <p>
                        ’m really impressed with quality of the products and the packaging
                        <span class="testimonal-author">~ Albert Z.</span>
                    </p>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="testimonial ">
                    <h5>"Excellent collection And wonderful service"</h5>
                    <p>
                        Taneira is my go to place for classy saree picks. And they have exceptional customer service.
                        <span class="testimonal-author">~ Jennifer T.</span>
                    </p>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="testimonial">
                    <h5>"Lovely handwoven saree"</h5>
                    <p>
                        Bought this saree for my mother, nice quality and material.
                        <span class="testimonal-author">~ Lily R.</span>
                    </p>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="testimonial">
                    <h5>"No complains"</h5>
                    <p>
                        ’m really impressed with quality of the products and the packaging
                        <span class="testimonal-author">~ Albert Z.</span>
                    </p>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="testimonial ">
                    <h5>"Excellent collection And wonderful service"</h5>
                    <p>
                        Taneira is my go to place for classy saree picks. And they have exceptional customer service.
                        <span class="testimonal-author">~ Jennifer T.</span>
                    </p>
                </div>
            </ng-template>
        </owl-carousel-o>
        <!-- <swiper-container class="swiper mySwiper">
            <swiper-slide class="col-xl-3 col-lg-3 col-md-2 col-sm-2">
                <div class="testimonial">
                    <h5>"Lovely handwoven saree"</h5>
                    <p>
                        Bought this saree for my mother, nice quality and material.
                        <span class="testimonal-author">~ Lily R.</span>
                    </p>
                </div>
            </swiper-slide>
            <swiper-slide class="col-xl-3 col-lg-3 col-md-2 col-sm-2">
                <div class="testimonial">
                    <h5>"No complains"</h5>
                    <p>
                        ’m really impressed with quality of the products and the packaging
                        <span class="testimonal-author">~ Albert Z.</span>
                    </p>
                </div>
            </swiper-slide>
            <swiper-slide class="col-xl-3 col-lg-3 col-md-2 col-sm-2">
                <div class="testimonial ">
                    <h5>"Excellent collection And wonderful service"</h5>
                    <p>
                        Taneira is my go to place for classy saree picks. And they have exceptional customer service.
                        <span class="testimonal-author">~ Jennifer T.</span>
                    </p>
                </div>
            </swiper-slide>
            <swiper-slide class="col-xl-3 col-lg-3 col-md-2 col-sm-2">
                <div class="testimonial">
                    <h5>"Lovely handwoven saree"</h5>
                    <p>
                        Bought this saree for my mother, nice quality and material.
                        <span class="testimonal-author">~ Lily R.</span>
                    </p>
                </div>
            </swiper-slide>
            <swiper-slide class="col-xl-3 col-lg-3 col-md-2 col-sm-2">
                <div class="testimonial">
                    <h5>"No complains"</h5>
                    <p>
                        ’m really impressed with quality of the products and the packaging
                        <span class="testimonal-author">~ Albert Z.</span>
                    </p>
                </div>
            </swiper-slide>
            <swiper-slide class="col-xl-3 col-lg-3 col-md-2 col-sm-2">
                <div class="testimonial ">
                    <h5>"Excellent collection And wonderful service"</h5>
                    <p>
                        Taneira is my go to place for classy saree picks. And they have exceptional customer service.
                        <span class="testimonal-author">~ Jennifer T.</span>
                    </p>
                </div>
            </swiper-slide>
        </swiper-container> -->
    </div>
</section>
