<section class="bg">
    <div class="banner-kurti">
        <img src="../../assets/images/kurti-product/kurti-banner.jpg" class="w-100 h-auto" alt="">
    </div>
    <div class="container mt-5 container-xsm">
        <div class="row">
            <div class="text-center h3 mb-5">KURTIS</div>
<section class="filter-sec col-lg-3 col-sm-6 col-xsm-6">
    <div class="column-sidebar">
        <h5 class="h4 filter-heading">Filter Product By</h5>
        <ul class="pt-4">
            <li class="dropdown">
                <a class=" dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i>PRICE</i>
                </a>
                <ul class="dropdown-menu price-radios">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexCheckDefault1"  (change)="filterByColor('All')" checked>

                        <label class="form-check-label" for="flexCheckDefault1">
                             All
                        </label>
                    </div>
                    <hr>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexCheckDefault1"  (change)="filterByColor('All')" checked>

                        <label class="form-check-label" for="flexCheckDefault1">
                             under rs.1000
                        </label>
                    </div>
                    <hr>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexCheckDefault1"  (change)="filterByColor('All')" checked>

                        <label class="form-check-label" for="flexCheckDefault1">
                            rs. 1000-3000
                        </label>
                    </div>
                    <hr>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexCheckDefault1"  (change)="filterByColor('All')" checked>

                        <label class="form-check-label" for="flexCheckDefault1">
                            rs. 3000-6000
                        </label>
                    </div>
                    <hr>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexCheckDefault1"  (change)="filterByColor('All')" checked>

                        <label class="form-check-label" for="flexCheckDefault1">
                            rs. 6000-10000
                        </label>
                    </div>
                    <hr>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexCheckDefault1"  (change)="filterByColor('All')" checked>

                        <label class="form-check-label" for="flexCheckDefault1">
                            rs. 10000 and above
                        </label>
                    </div>
                    <hr>
                </ul>
            </li>
            <hr>
            <li class="dropdown">
                <a class=" dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i>FABRIC</i>
                </a>
                <ul class="dropdown-menu fabric-radios">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="" id="flexCheckDefault">

                        <label class="form-check-label" for="flexCheckDefault">
                            Cotton
                        </label>
                    </div>
                    <hr>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="" id="flexCheckDefault">

                        <label class="form-check-label" for="flexCheckDefault">
                            Silk
                        </label>
                    </div>
                    <hr>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="" id="flexCheckDefault">

                        <label class="form-check-label" for="flexCheckDefault">
                            Satin
                        </label>
                    </div>
                    <hr>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="" id="flexCheckDefault">

                        <label class="form-check-label" for="flexCheckDefault">
                            Georgette
                        </label>
                    </div>
                    <hr>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="" id="flexCheckDefault">

                        <label class="form-check-label" for="flexCheckDefault">
                            Chiffon
                        </label>
                    </div>
                    <hr>
                    <div class="form-check pb-3">
                        <input class="form-check-input" type="radio" value="" id="flexCheckDefault">

                        <label class="form-check-label" for="flexCheckDefault">
                            Linen
                        </label>
                    </div>
                </ul>
            </li>
            <hr>
            <li class="dropdown">
                <a class=" dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i>COLOR</i>
                </a>
                <ul class="dropdown-menu color-radios">
                    <div class="form-check pt-3">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexCheckDefault1"  (change)="filterByColor('All')" checked>

                        <label class="form-check-label" for="flexCheckDefault1">
                             All
                        </label>
                    </div>
                    <hr>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexCheckDefault1"  (change)="filterByColor('Black')">

                        <label class="form-check-label" for="flexCheckDefault1">
                            <i class="fa fa-square" style="color: black;" aria-hidden="true"></i> black
                        </label>
                    </div>
                    <hr>
                    <div class="form-check ">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexCheckDefault2"  (change)="filterByColor('Blue')">

                        <label class="form-check-label" for="flexCheckDefault1">
                            <i class="fa fa-square" style="color: blue;" aria-hidden="true"></i> blue
                        </label>
                    </div>
                    <hr>
                    <div class="form-check ">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexCheckDefault1"  (change)="filterByColor('Red')">

                        <label class="form-check-label" for="flexCheckDefault1">
                            <i class="fa fa-square" style="color: red;" aria-hidden="true"></i> red
                        </label>
                    </div>
                    <hr>
                    <div class="form-check ">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexCheckDefault1"  (change)="filterByColor('Orange')">

                        <label class="form-check-label" for="flexCheckDefault1">
                            <i class="fa fa-square" style="color: orange;" aria-hidden="true"></i> orange
                        </label>
                    </div>
                    <hr>
                    <div class="form-check ">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexCheckDefault1"  (change)="filterByColor('White')">

                        <label class="form-check-label" for="flexCheckDefault1">
                            <i class="fa fa-square" style="color: white;" aria-hidden="true"></i> white
                        </label>
                    </div>
                    <hr>
                    <div class="form-check ">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexCheckDefault1"  (change)="filterByColor('Pink')">

                        <label class="form-check-label" for="flexCheckDefault1">
                            <i class="fa fa-square" style="color: pink;" aria-hidden="true"></i> pink
                        </label>
                    </div>
                    <hr>
                    <div class="form-check pb-3">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexCheckDefault1"  (change)="filterByColor('Purple')">

                        <label class="form-check-label" for="flexCheckDefault1">
                            <i class="fa fa-square" style="color: purple;" aria-hidden="true"></i> purple
                        </label>
                    </div>
                    
                    <!-- <li class="dropdown-item">
                        <input type="radio" name="black" id="black"><label for="black" class="p-2 text-capitalize"> black</label>
                    </li> -->
                    <!-- <li class="dropdown-item">
                        <input type="radio" name="blue" id="blue"><label for="blue" class="p-2 text-capitalize"> blue</label>
                    </li>
                    <li class="dropdown-item">
                        <input type="radio" name="BLACK" id="BLACK"><label for="Black" class="p-2 text-capitalize"> Black</label>
                    </li>
                    <li class="dropdown-item">
                        <input type="radio" name="BLACK" id="BLACK"><label for="Black" class="p-2 text-capitalize"> Black</label>
                    </li> -->
                </ul>
            </li>
            <hr>
            <li class="dropdown ">
                <a class=" dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i>PRODUCT ID</i>
                </a>
                <ul class="dropdown-menu id-radios">
                    <div class="form-check text-center p-0">
                        <input class="form-input py-2 px-3" type="text" value="" placeholder="Enter Product ID">
                    </div>
                </ul>
            </li>
            <hr>
        </ul>
    </div>
</section>
            <div class="col-lg-3 col-md-4 mb-4" *ngFor="let kurti of filteredKurtis; index as i">
                <div class="card product-card">
                    <div class="img">
                        <img [src]="kurti.image" class="card-img-top product-image" alt="Saree Image">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{kurti.name}}</h5>
                        <p class="card-text">Rs {{kurti.price}}</p>
                    </div>
                    <div class="product-buttons">
                        <button class="btn btn-icon"><i class="fa fa-thin fa-eye"></i></button>
                        <button class="btn btn-icon"><i class="fa fa-regular fa-heart"></i></button>
                        <button class="btn btn-icon"><i class="fa fa-solid fa-cart-plus"></i></button>
                    </div>
                </div>
                <div *ngIf="filteredKurtis.length === 0">
                    <p>No products found matching the selected color.</p>
                </div>
            </div>
        </div>
    </div>
</section>